TUNNEL_TOKEN=replace-with-cloudflare-tunnel-token
SEARXNG_BASE_URL=https://search.moenz.my.id/
SEARXNG_SECRET=replace-with-random-secret
SEARXNG_LIMITER=true
SEARXNG_PUBLIC_INSTANCE=true
SEARXNG_IMAGE_PROXY=true
SEARXNG_VALKEY_URL=valkey://valkey:6379/0
